<nav>
<h1>Fahrtenbuchverwaltung</h1>

<ul>
    <li><a href="{{ path('app_home_index') }}">Home</a></li>
    <li><a href="{{ path('app_home_overview') }}">Fahrten-Übersicht</a></li>
    <li><a href="">Fahrt Hinzufügeh</a></li>
</ul>

</nav>